<!DOCTYPE html>
<html lang="en-GB">
  {% include 'head.html' %}
  <body>
    <div class="site-background">
      {% include 'header.html' %} {% if include-above %} {% include
      {{include-above}} %} {% endif %}

      <main
        class="content-container content-container--top content-container--bottom"
      >
        {{ content }}
      </main>

      {% if include-below %} {% for item in include-below %} {% include {{item}}
      %} {% endfor %} {% endif %} {% include 'footer.html' %}
    </div>
  </body>
</html>
