---
layout: full-width
title: We help organisations<br class="full-width-only" /> work better for people
description: We help organisations work better for people. Our ambition is to do good for a million people.
meta-title: About us
---

<div class="content-container content-container--bottom content-container--top">
  <h2 class="site-heading">Our people</h2>
  <p class="intro-copy">
    Meet our multi-disciplinary team who make government work better for people.
  </p>

  {% for member in collections.team %}

  <div class="team-member">
    <div class="team-member__section-one">
      <h3 class="team-member__name">
        {{ member.data.first_name }} {{ member.data.last_name }}
      </h3>
      <p class="team-member__info">
        {{ member.data.job }}, {{ member.data.location }}
      </p>
      <div class="team-member__bio">{{ member.templateContent }}</div>
      <p class="team-member__read-more">
        <a href="{{ readmore_link }}"
          >Read more about {{ member.data.first_name }}</a
        >
      </p>
    </div>

    <div class="team-member__section-two">
      <div class="team-member__image">
        <img src="{{ member.data.image }}" />
      </div>
      <div class="team-member__callout">
        <h4 class="team-member__callout-title">Did you know...</h4>
        <p class="team-member__callout-text">{{ member.data.dyk }}</p>
      </div>
    </div>
  </div>

  {% endfor %}
</div>

<div
  class="content-container content-container--wide content-container--bottom"
>
  <h2 class="sub-heading sub-heading--centered">
    Our ambition is to do good for a million people.
  </h2>

  <p class="intro-copy spacing-top intro-copy--max-width intro-copy--centered">
    We do this by helping organisations make measurable improvements to serving
    people online as citizens, customers, users, and staff.
  </p>
</div>

<div class="cheese-wedge cheese-wedge--rajah cheese-wedge--align-left">
  <div class="cheese-wedge__inner">
    <div class="cheese-wedge__copy">
      <h2 class="site-heading">Our focus</h2>
      <ol class="big-numbers-list">
        <li>
          Developing, using and sharing a solid professional process with better
          ways to work.
        </li>
        <li>
          Helping changemakers in large organisations deliver positive
          transformation in the way their organisation works and serve their
          audiences using digital technology.
        </li>
        <li>
          Building healthy, long-term partnerships with clients and other
          agencies.
        </li>
      </ol>
    </div>
  </div>
</div>

<div class="cheese-wedge cheese-wedge--aquamarine cheese-wedge--right">
  <div class="cheese-wedge__inner">
    <div class="cheese-wedge__copy">
      <h2 class="site-heading">Our culture</h2>

      <ol class="big-numbers-list">
        <li>
          <h3 class="big-numbers-list__title">Healthy</h3>
          Putting people first, looking after ourselves and others, looking
          long-term, working sustainably. Working with integrity, being honest
          and frank, being ethical, earning trust. Doing the right thing.
        </li>
        <li>
          <h3 class="big-numbers-list__title">Professional</h3>
          Developing our talents and tools, asking great questions, having high
          standards and ensuring quality. Achieving excellence. Doing things
          right.
        </li>
        <li>
          <h3 class="big-numbers-list__title">Ambitious</h3>
          Growing ourselves, our knowledge and our expertise. Constantly seeking
          to be better. Aiming higher. Thinking long term. Change the world. Do
          things big.
        </li>
        <li>
          <h3 class="big-numbers-list__title">Delivering</h3>
          Focus and momentum. Meeting the expectations of others. Getting things
          done.
        </li>
        <li>
          <h3 class="big-numbers-list__title">Sharing</h3>
          Extreme transparency, amazing communication, brilliant collaboration,
          being open with our work, being consultative, and spreading success.
          Doing things together.
        </li>
      </ol>
    </div>
  </div>
</div>
{% include 'services.html' %}
