<div class="cheese-wedge cheese-wedge--rajah">
  <div class="cheese-wedge__inner">
  <div class="cheese-wedge__icon"><i class="icon icon--coffee-rajah"></i></div>
  <div class="cheese-wedge__copy">
    <h2 class="site-heading">Stopping by in London?<br class="full-width-only" /> Meet us face to face.</h2>

    <p class="intro-copy">
    <span itemprop="name">Convivio</span><br />
    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress">
    27 Old Gloucester Street</span>
    <span itemprop="addressRegion">London<br /></span>
    <span itemprop="postalCode">WC1N 3AX<br /></span></span>
      <a target="_blank" rel="noopener" href="https://www.google.com/maps/place/Convivio/@51.5207227,-0.1242317,17z/data=!3m1!4b1!4m5!3m4!1s0x48761b36a3a24b4b:0x567fc1f6dfb81353!8m2!3d51.5207227!4d-0.122043">View on a map</a>
    </p>


  </div>
  </div>
</div>

