<div class="team-grid spacing-top">
  {% include team-member.html slug="joe-baker" url="https://twitter.com/joesb" name="Joe Baker" title="Technical Lead" location="Birmingham" %}
  {% include team-member.html slug="mike-bell" url="https://twitter.com/mikebell_" name="Mike Bell" title="Devops Lead" location="Manchester" %}
  {% include team-member.html slug="angela-buron" url="https://twitter.com/angelaburon" name="Ángela Burón" title="Interaction Designer" location="Brighton" %}
  {% include team-member.html slug="lewis-nyman" url="https://twitter.com/lewisnyman" name="Lewis Nyman" title="UX Lead" location="Brighton" %}
  {% include team-member.html slug="steve-parks" url="https://twitter.com/steveparks" name="Steve Parks" title="CEO" location="London" %}
  {% include team-member.html slug="nuria-ruiz" url="https://twitter.com/publishingnuria" name="Núria Ruiz" title="User researcher" location="Edinburgh" %}
</div>
