<div class="team-grid spacing-top">
  {% include 'team-member.html', slug: "joe-baker", readmoreurl:
  "https://blog.weareconvivio.com/meet-the-convivio-team-joe-baker-fb22d85b6a11",
  twitter: "https://twitter.com/joesb", name: "Joe Baker", job: "Technical
  Lead", location: "Birmingham" %} {% include 'team-member.html', slug:
  "mike-bell", readmoreurl:
  "https://blog.weareconvivio.com/meet-the-convivio-team-mike-bell-dee1ce4e387",
  twitter: "https://twitter.com/mikebell_", name: "Mike Bell", job: "Devops
  Lead", location: "Manchester" %} {% include 'team-member.html', slug:
  "angela-buron", readmoreurl:
  "https://blog.weareconvivio.com/meet-the-convivio-team-angela-buron-519b27147c0b",
  twitter: "https://twitter.com/angelaburon", name: "Ángela Burón", job:
  "Interaction Designer", location: "Brighton" %} {% include 'team-member.html',
  slug: "lewis-nyman", readmoreurl:
  "https://blog.weareconvivio.com/meet-the-convivio-team-lewis-nyman-b2e5b2aa938e",
  twitter: "https://twitter.com/lewisnyman", name: "Lewis Nyman", job: "User
  experience", location: "Brighton" %} {% include 'team-member.html', slug:
  "steve-parks", readmoreurl:
  "https://blog.weareconvivio.com/meet-the-convivio-team-steve-parks-3aea7645813c",
  twitter: "https://twitter.com/steveparks", name: "Steve Parks", job: "CEO",
  location: "London" %} {% include 'team-member.html', slug: "nuria-ruiz",
  readmoreurl:
  "https://blog.weareconvivio.com/meet-the-convivio-team-n%C3%BAria-ruiz-e6b3e7725ded",
  twitter: "https://twitter.com/publishingnuria", name: "Núria Ruiz", job: "User
  researcher", location: "Edinburgh" %}
</div>
